.navbar-brand {
  display: inline-block;
  padding-top: 0.265625rem;
  padding-bottom: 0.265625rem;
  margin-right: 1rem;
  font-size: 1.5625rem;
  line-height: inherit;
  white-space: nowrap;
}

#navbarHeader.fixed-top {
  position: absolute;
  transition: all 0.8s linear;
}
